h1{
    text-align: center;
    font-size: 36px;
}
p.jump{
    padding: 10px;
    background: #eee;
    border: #000 2px solid;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
}
p.zoom{
    font-size:20px;
    color: #888;
    background: #eee;
    border-radius: 10px;
    text-align: center;
}
p.upDate{
    text-align: right;
    font-size: 16px;
    color: #888;
    border-bottom: 4px #ccc solid;
    padding-bottom: 10px;
}
div.content{
    color: #222222;
}
strong{
    font-size: 24px;
}
div.splitter{
    width: 100%;
    padding: 0;
    border-top: #ccc 2px solid;
}
h2{
    font-size: 24px;
    margin-left: 10px;
}
i.fas.fa-sign-out-alt{
    transform: rotate(-90deg);
}
p.sorry{
    font-size: 12px;
    border: 1px #ddd solid;
    border-radius: 10px;
    font-style: normal;
    padding: 5px;
}
img{
    width: 300px;
    height: auto;
    float: right;
}
@media screen and (max-width: 500px){
    img{
        width: 100%;
        height: auto;
        margin: auto;
        float: left;
    }
}
main::after{
    visibility: hidden;
    height: 0px;
    content: ".";
    display: block;
    clear: both;
}