main ul{
    list-style: none;
    padding: 0;
}
main{
    text-align: center;
}
main li{
    width: 500px;
    height: auto;
    border: 2px #ccc solid;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
}
main li > img{
    width: 100px;
    height: 100px;
    float: left;
    margin: auto;
    border: #000 solid 1px;
}
main p.title{
    font-size: 24px;
    margin: 5px;

}
main p.jump{
    padding: 10px;
    background: #eee;
    border: #000 2px solid;
    border-radius: 10px;
}
main h1{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}
main p.jump select{
    width: 100px;
    height: 30px;
    font-size: 24px;
    border-radius: 5px;
}
main p.date{
    font-size: 18px;
    text-align: right;
    margin: 0px;
}
main p.url{
    font-size: 12px;
    text-align: right;
    margin: 3px;
    color: #999;
    text-decoration-line: underline;
}
@media screen and (max-width: 500px){
    main li{
        width: 90%;
    }
}