<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137953397-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-137953397-2');
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Organization",
    "name": "KSS Bakakkoii Series",
    "logo": "https://kss-bakakkoii.a01sa01to.com/img/favicon.jpg",
    "url": "https://kss-bakakkoii.a01sa01to.com/",
    "sameAs": [
      "https://twitter.com/kss_bakakkoii",
      "https://www.youtube.com/channel/UC_s6Env3fmLi1hIbYrrBk0Q"
    ]
  }
</script>

<script src="https://kit.fontawesome.com/7fba4a39db.js" crossorigin="anonymous"></script>